body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}
.header-ad {
    margin: auto;
    text-align: center;
    width: fit-content;
    border: 5px solid #ffd;
}

.head {
    height: 103px;
}
.main {
    display: flex;
    justify-content: space-between;
}

.connect {

}

.ynet-plus {

}

.ynet-plus > img {
    height: 50%;
}