* {
    font-family: "calibri";
}

body {
    margin: 0;
    padding: 0 15%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
}

.header-ad {
    display: flex;
    justify-content: center;
    border: 2px solid #ffffee;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    margin: 0 auto;
    align-items: flex-end;
}

.top-header > img {
    width: 15% ;
}

.top-item {
    display: flex;
    gap: 5%;
    height: 28px;
}

.header-element{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 75%;
    padding: 2%;
}

.header-element > p {
    margin: 0 5px;
    width: max-content;
}

.header-element > img {
    height: 100%;
}

.info {
    position: relative;
    right: 4rem;
}

.ynet-plus {
    border: 1px solid #000;
    border-radius: 2rem;
    font-weight: bold;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(222, 26, 26);
    margin-top: 25px;
    height: fit-content;
}

nav > a {
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
}

nav > a:hover {
    font-weight: bold;
}

.nav-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
}

.nav-element {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.nav-element > img {
    width: 15px;
    margin-right: 5px;
}

.nav-element > p {
    color: #fff;
}

.nav-element.more {
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 3%;
    padding: 0 10px;
    height: 15px;
    margin-left: 20px;
}

.hot-news {
    background-color: #f3f8f9;
    height: 100px;
    margin-top: 28px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 20px;
    gap: 15px;
}

.highlight {
    margin-top: 28px;
    height: fit-content;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    padding-left: 10%;
    height: 100%;
}

article > h1 {
    font-size: 2.5rem;
}

article > span {
    font-size: 12px;
    color: #69696990;    
}

.highlight > img {
    width: 100%;
}

.sec2 {
    height: fit-content;
}

div.top4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

.top4-el {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100%;
} 

.top4-el > img {
    height: 100%;
    width: 100%;
}

.top4-el-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    color: #fff;
}

.top4-el-txt > h1 {
    font-size: 20px;
}

.top4-el-txt > p {
    font-size: smaller;
    font-weight: bold;
    margin: 0;
}

.top4-el-txt > span {
    font-size: 12px;
    color: #ffffff90;   
}

.fst {
    background-color: #DE1A1A;
}

.snd {
    background-color: #1417AC;
}

.trd {
    background-color: #DE1A1A;
}

.frth {
    background-color: #0c1c3a;
}

.ads-block-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 15px;
}

.ads-block-1 > img {
    display: flex;
    height: 100%;
    width: 100%;
}

.alam-ad {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sec3, .sec5 {
    height: fit-content;
    width: 100%;
}

.sec3 > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.subsec-title > h1 {
    color: #fff;
    background-color: #1417AC;
    text-align: right;
    font-size: 18px;
    padding: 7px 18px;
}

.subsec-title {
    color: #fff;
    background-color: #1417AC;
    text-align: right;
    font-size: 18px;
    padding: 7px 18px;
}

.title-el {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
    width: 100%;
}
.title {
    display: grid;
    grid-template-rows: 1fr .5fr .25fr;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: right;
}

.title > img {
    height: 100%;
    width: 100%;
}

.title > h1 {
    font-size: 17px;
    font-weight: bold;
}

.title > span {
    font-size: 12px;
    color: #69696990;
}


/*3rd Section*/
.sec4 {
    height: fit-content;
    width: 100%;
}

.titles-news {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.lst-nws {
    text-align: right;
    padding: 15px;
}
.lst-nws > h1 {
    font-size: 14px;
    margin-bottom: 5px;
}

.comment{
    font-size: 12px;
    color: #69696990;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.bign-el {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    height: auto;
}

.bign-el > h1 {
    font-size: 14px;
}

.new-el {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

.big-news {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.weather-element {
    display: flex;
    height: 30px;
    gap: 2px;
    align-items:end;
    justify-content: right;
}

.weather-element > img {
    height: 50%;
}
.weather-element > h1 {
    height: 90%;
}

.danirup {
    display: flex;
    justify-content: space-around;
} 
.danirup > p {
    font-size: 12px;
}
.danirup > img {
    width: 20%;
}

.ads-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: min-content;
}

.ads-block-2 > img {
    width: 100%;
    height: 100%;
}

.yad2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*SECTION 5*/

.sport-el , .economy-el {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.economy, .sport {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.el-it {
    height: 70%;
}

.el-it > h1{
   margin-top: 10px;
}
 
/* SECTION 6 */

.ext-article {
    display: grid;
    border: solid 1px;
    border-top: none;
    padding: 20px 10px;
    height: fit-content;
}

.ext-article > a {
    justify-self: left;
}

.ext-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ac1414;
    text-align: right;
    font-size: 18px;
    padding: 7px 8px;
}

.ext-title > div {
    display: flex;
    text-align: center;
    gap: 8px;
}
.ext-logo {
    height: 18px;
    border-radius: 50px;
}

.ext-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    text-align: right;
}

.ext-item > img{
    height: 100%;
    width: 100%;
}

/*SECTION 7 */
.sec7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #090d15;
    padding: 26px 30px;
    box-sizing: border-box; 
    height: fit-content; 
}

.ynet-plus-header {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.ynet-plus-header > a {
    color: #fff;
    border: solid 2px #fff;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 28px;
}

.ynet-plus-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.ypi {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 275px;
    padding: 5px;
    text-align: right;
    background-repeat: no-repeat;
    box-shadow:  inset 0px -35px 100px 0px #000000; 
    color: #fff;
}

.ypi > p {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
}

.ypi > span {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;

}

.ypi-item1 {
    background-image: url(./images/ypi1.jpg);
}

.ypi-item2 {
    background-image: url(./images/ypi2.jpg);    
}

.ypi-item3 {
    background-image: url(./images/ypi3.jpg);
}

.ypi-item4 {
    background-image: url(./images/ypi4.jpg);
}

.ypi-item5 {
    background-image: url(./images/ypi5.jpg);
}

.ypi-item6 {
    background-image: url(./images/ypi6.jpg);
}


.ynet-plus-bottom > a {
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 10px;
    color: #fff;
}




























#right-ad {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
}
