* {
    font-family: "calibri";
}

body {
    margin: 0;
    padding: 0 15%;
    text-align: center;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    margin: 0;
}

.header-ad {
    display: flex;
    justify-content: center;
    border: 2px solid #ffffee;
}

.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    margin: 0 auto;
    align-items: flex-end;
}

.top-header > img {
    width: 15% ;
}

.top-item {
    display: flex;
    gap: 5%;
    height: 28px;
}

.header-element{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 75%;
    padding: 2%;
}

.header-element > p {
    margin: 0 5px;
    width: max-content;
}

.header-element > img {
    height: 100%;
}

.info {
    position: relative;
    right: 4rem;
}

.ynet-plus {
    border: 1px solid #000;
    border-radius: 2rem;
    font-weight: bold;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: rgb(222, 26, 26);
    margin-top: 25px;
    height: fit-content;
}

nav > a {
    color: #ffffff;
    font-size: 15px;
    line-height: 30px;
}

nav > a:hover {
    font-weight: bold;
}

.nav-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
}

.nav-element {
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

.nav-element > img {
    width: 15px;
    margin-right: 5px;
}

.nav-element > p {
    color: #fff;
}

.nav-element.more {
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 3%;
    padding: 0 10px;
    height: 15px;
    margin-left: 20px;
}

.hot-news {
    background-color: #f3f8f9;
    height: 100px;
    margin-top: 28px;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 20px;
    gap: 15px;
}

.highlight {
    margin-top: 28px;
    height: fit-content;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: right;
    padding-left: 10%;
    height: 100%;
}

article > h1 {
    font-size: 2.5rem;
}

article > span {
    font-size: 12px;
    color: #69696990;    
}

.highlight > img {
    width: 100%;
}

.sec2 {
    height: fit-content;
}

div.top4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

.top4-el {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100%;
} 

.top4-el > img {
    height: 100%;
    width: 100%;
}

.top4-el-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    color: #fff;
}

.top4-el-txt > h1 {
    font-size: 20px;
}

.top4-el-txt > p {
    font-size: smaller;
    font-weight: bold;
    margin: 0;
}

.top4-el-txt > span {
    font-size: 12px;
    color: #ffffff90;   
}

.fst {
    background-color: #DE1A1A;
}

.snd {
    background-color: #1417AC;
}

.trd {
    background-color: #DE1A1A;
}

.frth {
    background-color: #0c1c3a;
}

.ads-block-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 15px;
}

.ads-block-1 > img {
    display: flex;
    height: 100%;
    width: 100%;
}

.alam-ad {
    grid-column-start: 2;
    grid-row-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.sec3 {
    height: fit-content;
        width: 100%;
}

.sec3 > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.subsec-title > h1 {
    color: #fff;
    background-color: #1417AC;
    text-align: right;
    font-size: 18px;
    padding: 7px 18px;
}

.subsec-title {
    color: #fff;
    background-color: #1417AC;
    text-align: right;
    font-size: 18px;
    padding: 7px 18px;
}

.title-el {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    height: 100%;
    width: 100%;
}
.title {
    display: grid;
    grid-template-rows: 1fr .5fr .25fr;
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-align: right;
}

.title > img {
    height: 100%;
    width: 100%;
}

.title > h1 {
    font-size: 17px;
    font-weight: bold;
}

.title > span {
    font-size: 12px;
    color: #69696990;
}


/*3rd Section*/
.sec4 {
    height: fit-content;
    width: 100%;
}

.titles-news {
    height: 100%;
}

.lst-nws {
    text-align: right;
    padding: 15px;
}
.lst-nws > h1 {
    font-size: 14px;
    margin-bottom: 5px;
}

.comment{
    font-size: 12px;
    color: #69696990;
}

.news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.bign-el {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: auto;
    height: auto;
}

.bign-el > h1 {
    font-size: 14px;
}

.new-el {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 100%;
}

.big-news {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-element {
height: 30px;
}

.weather-element > img {
    height: 50%;
}

.ads-block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    height: min-content;
}

.ads-block-2 > img {
    width: 100%;
    height: 100%;
}

.yad2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
 


































#right-ad {
    position: fixed;
    right: 0;
    top: 0;
    width: 10%;
}
